.container {
    height: 90vh;

    border-right: 4px solid #083a63;
    border-top: 2px solid  #3175ad;
    border-bottom: 3px solid  #052947;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 1vh;

    background-color: #1D77C2;
}

.filterRow {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-bottom: 2px solid #eaeaea;

    height: 10vh;
}

.routeListings {
    overflow-y: auto;
    overflow-x: hidden;
    height: 78vh;
}