.container {
    padding-top: 10px;
    border-bottom: 1px solid #eaeaea;
    background-color: #326c9c;
}

.containerSelected {
    padding-top: 10px;
    border-bottom: 1px solid #eaeaea;
    background-color: #134a77;
}

.container:hover {
    background-color: #134a77;
    cursor: pointer;
}

.alignRight {
    text-align: right;
    padding: 0;
}

.route {
    padding-top: 10px;
    margin-left: 3vw;
    color: lightgrey;
}

.routeDestinations {
    margin-left: 5vw;
}