.container {
    margin-top: 1vh;
    border-top: 2px solid #eaeaea;
    border-bottom: 3px solid #eaeaea;
    height: 100%;
    overflow: auto;

    background-color: #1D77C2;
}

.stopsTitle {
    padding-left: 15px;
    border-bottom: 2px solid #eaeaea;
}